.generalcarddisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 40px;

  width: 1348px;
  margin: 40px auto;
}

.vintedhero {
  height: 400px;
  width: 100%;
  background-color: aqua;
}

button {
  width: 100px;
  height: 40px;
}
